/*
 * Waldi Styles
 */

/* Header */

@media only screen and (min-width: 992px) {
	.topnav-centered {
	  float: none;
	  position: absolute;
	  top: 50%;
	  left: 50%;
	  transform: translate(-50%, -50%);
	}
}


section.cz-carousel h2,
section.cz-carousel p {
  color: #373f50 !important;
}


section h2 {
	text-align: center;
	width: 100%;
}

.product {
	margin-top: 20px;
}

.progress-badge {
	margin-bottom: 15px;
	position: static !important;
	width: 100%;
}

.progress-icon {
	margin-right: 10px;
	margin-left: 10px;
}




/*---- Aviso de Privacidad ----*/

#separator-privacidad {
	margin: 20px 0 30px 0;
}

.article {
	margin-bottom: 50px;
}